<html>
<nav id="nav">
  <p id="logo"><img src="http://cdn.flaticon.com/png/256/31060.png" alt="" />
</p>
<p id="login"><%= link_to sign_in_path, class:"login" do %><button id="signin"> Sign In</button> <% end %>
<%= link_to sign_up_path, class:"login" do %><button id="signup"> Sign Up</button><% end %></p>
</nav>
<center><p id="welcome">WELCOME TO BOJACK,A PLACE TO BE YOURSELF </p></center>

</html>
